.red{
    color: red;
}
.bg{
    color: white;
    background-color: blue;
    width: 100px;
}
h2{
    color:white;
    background-color: green;
}
.big{
    padding: 20px 10px;
}
.margin{
    margin: 10px 0;
}
.center{
    margin-left: 100px;
}
.list{
    font-size: 30px;
    position: relative;
}
li{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin: 2px;
}
.border{  
    border: 2px solid black;
    position: block;
    width: 96vw;
    margin: 0px 0px 0px 0px;
    top: 0;
    }
img{
    width: 150px;
}